@page
@model SBHS.Pages.AdminModel
@{
}

<style>
    .card {
        border: 1px solid #ddd;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add box-shadow */
    }

    .text{
        font-size:16px;
        margin-top: 10px;
        margin-left: 10px;
    }

    .container-fluid{
        padding:10px;
    }

    .consultant{
        position:center;
    }

</style>

<div class="content">

    <!-- Start Content-->
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <div class="page-title-box">

                    <h4 class="page-title">Dashboard</h4>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-xl-3">
                <div class="widget-rounded-circle card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <div class="avatar-lg rounded-circle bg-soft-primary border-primary border">
                                    <i class="fa-solid fa-person-walking font-22 avatar-title text-primary"></i>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="text-end">
                                    <h3 class="text-dark mt-1"><span data-plugin="counterup">@Model.TotalLeaveRequests</span></h3>
                                    <p class="text-muted mb-1 text-truncate">Total Leave</p>
                                </div>
                            </div>
                        </div> <!-- end row-->
                    </div>
                </div> <!-- end widget-rounded-circle-->
            </div> <!-- end col-->

            <div class="col-md-6 col-xl-3">
                <div class="widget-rounded-circle card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <div class="avatar-lg rounded-circle bg-soft-success border-success border">
                                    <i class="fa-solid fa-person-walking-arrow-right font-22 avatar-title text-success"></i>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="text-end">
                                    <h3 class="text-dark mt-1"><span data-plugin="counterup">@Model.TotalLeaveRequestsToday</span></h3>
                                    <p class="text-muted mb-1 text-truncate">Today's Leave</p>
                                </div>
                            </div>
                        </div> <!-- end row-->
                    </div>
                </div> <!-- end widget-rounded-circle-->
            </div> <!-- end col-->

            <div class="col-md-6 col-xl-3">
                <div class="widget-rounded-circle card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <div class="avatar-lg rounded-circle bg-soft-info border-info border">
                                    <i class="fa-solid fa-people-line font-22 avatar-title text-info"></i>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="text-end">
                                    <h3 class="text-dark mt-1"><span data-plugin="counterup">@Model.TotalOncallRequests</span></h3>
                                    <p class="text-muted mb-1 text-truncate">Total On-Call</p>
                                </div>
                            </div>
                        </div> <!-- end row-->
                    </div>
                </div> <!-- end widget-rounded-circle-->
            </div> <!-- end col-->

            <div class="col-md-6 col-xl-3">
                <div class="widget-rounded-circle card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <div class="avatar-lg rounded-circle bg-soft-warning border-warning border">
                                    <i class="fa-solid fa-hospital-user font-22 avatar-title text-warning"></i>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="text-end">
                                    <h3 class="text-dark mt-1"><span data-plugin="counterup">@Model.TotalOncallRequestsToday</span></h3>
                                    <p class="text-muted mb-1 text-truncate">Today's On-Call</p>
                                </div>
                            </div>
                        </div> <!-- end row-->
                    </div>
                </div> <!-- end widget-rounded-circle-->
            </div> <!-- end col-->

        </div>
        <!-- end row-->


        <!-- approved, pending, rejected -->

        <div class="container-fluid">

            <div class="row justify-content-center">
                <div class="col-md-6 col-xl-3">
                    <div class="widget-rounded-circle card">
                        <div class="card-body">
                            <div class="row justify-content-center">
                                <div class="col-6">
                                    <div class="avatar-lg rounded-circle bg-soft-success border-success border">
                                        <i class="fa-solid fa-check font-22 avatar-title text-success"></i>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="text-end">
                                        <h3 class="text-dark mt-1"><span data-plugin="counterup">@Model.TotalApprovedRequests</span></h3>
                                        <p class="text-muted mb-1 text-truncate">Approved</p>
                                    </div>
                                </div>
                            </div> <!-- end row-->
                        </div>
                    </div> <!-- end widget-rounded-circle-->
                </div> <!-- end col-->

                <div class="col-md-6 col-xl-3">
                    <div class="widget-rounded-circle card">
                        <div class="card-body">
                            <div class="row justify-content-center">
                                <div class="col-6">
                                    <div class="avatar-lg rounded-circle bg-soft-warning border-warning border">
                                        <i class="fa-regular fa-hourglass-half font-22 avatar-title text-warning"></i>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="text-end">
                                        <h3 class="text-dark mt-1"><span data-plugin="counterup">@Model.TotalPendingRequests</span></h3>
                                        <p class="text-muted mb-1 text-truncate">Pending</p>
                                    </div>
                                </div>
                            </div> <!-- end row-->
                        </div>
                    </div> <!-- end widget-rounded-circle-->
                </div> <!-- end col-->

                <div class="col-md-6 col-xl-3">
                    <div class="widget-rounded-circle card">
                        <div class="card-body">
                            <div class="row justify-content-center">
                                <div class="col-6">
                                    <div class="avatar-lg rounded-circle bg-soft-danger border-danger border">
                                        <i class="fa-solid fa-xmark font-22 avatar-title text-danger"></i>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="text-end">
                                        <h3 class="text-dark mt-1"><span data-plugin="counterup">@Model.TotalRejectedRequests</span></h3>
                                        <p class="text-muted mb-1 text-truncate">Rejected</p>
                                    </div>
                                </div>
                            </div> <!-- end row-->
                        </div>
                    </div> <!-- end widget-rounded-circle-->
                </div> <!-- end col-->
            </div>

        </div>


        <!--total number of consultants and specialists-->

        <div class="container-fluid consultant">

            <div class="row mt-3 justify-content-center">
                <div class="col-12">
                    <div class="row justify-content-center">
                        <!-- First grid item -->
                        <div class="col-md-4 mb-4">
                            <div class="card">
                                <div class="card-body d-flex justify-content-center align-items-center">
                                    <h2 class="text-dark mt-1 mb-0"><span data-plugin="counterup">@Model.TotalConsultants</span></h2>
                                    <p class="text mb-0">Total Consultants</p>
                                </div>
                            </div>
                        </div>

                        <!-- Second grid item -->
                        <div class="col-md-4 mb-4">
                            <div class="card">
                                <div class="card-body d-flex justify-content-center align-items-center">
                                    <h2 class="text-dark mt-1 mb-0"><span data-plugin="counterup">@Model.TotalSpecialists</span></h2>
                                    <p class="text mb-0">Total Specialists</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div><!-- container -->
</div> <!-- content -->



