@page
@model SBHS.Pages.CalendarModel
@{
    
}

<style>
    .fullcalendar{
        background-color:#fff;
        padding:30px;
        margin-top:30px;
        font-family:Arial;
        color:#333;
    }

</style>

<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js'></script>

<div class="fullcalendar" id='calendar'></div>

    
<script>

    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'multiMonthYear,dayGridMonth,timeGridWeek,timeGridDay'
            },
            events: [
                @foreach (var leaveRequest in Model.ApprovedLeaveRequests)
                {
                    <text>{
                        title: '@leaveRequest.UserDetail.FullName' +' - ' + '@leaveRequest.LeaveType.LeaveTypeName',
                        start: '@leaveRequest.StartDate?.ToString("yyyy-MM-dd")', // Adjust date formatting as needed
                        end: '@leaveRequest.EndDate?.ToString("yyyy-MM-dd")', // Adjust date formatting as needed
                        color: 'orange',
                        description: '@leaveRequest.UserDetail.FullName - Department: @(leaveRequest.UserDetail.Department.DepartmentName), Work Title: @(leaveRequest.UserDetail.WorkTitle.WorkTitleName)'
                    }, </text>
                }

                @foreach (var onCallRequest in Model.ApprovedOncallRequests)
                {
                    <text>{
                        title: '@onCallRequest.UserDetail.FullName' + ' (On-call)',
                        start: '@onCallRequest.DateTimeOnCall?.ToString("yyyy-MM-dd")',
                        color: 'green',
                        description: '@onCallRequest.UserDetail.FullName - Department: @(onCallRequest.UserDetail.Department.DepartmentName), Work Title: @(onCallRequest.UserDetail.WorkTitle.WorkTitleName)'
                    }, </text>
                }

            ],
            eventClick: function (info) {
                // Get the event description (details)
                var description = info.event.extendedProps.description;
                // Show the event details in an alert
                alert(description);
            }
        });
        calendar.render();
    });

</script>

