@page
@model SBHS.Pages.LeaveReqAdminModel
@{
}

<style>
    h2 {
        text-align: center;
        margin-top: 30px;
    }

    .table, td, th {
        border: 1px solid black;
    }

    .table {
        background-color: #fff;
        padding: 20px;
        border-collapse: collapse;
        position: center;
    }

    td {
        border-collapse: collapse;
        padding: 0.65em 1em;
    }

    th {
        text-align: center;
    }

    p {
        font-size: 20px;
        text-align: center;
    }

    .status-approved {
        color: green; /* Green color for approved status */
    }

    .status-pending {
        color: orange; /* Orange color for pending status */
    }

    .status-rejected {
        color: red; /* Red color for rejected status */
    }

</style>


<h2>Leave Requests</h2>
<hr/>

@if (Model.LeaveRequests.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.LeaveRequests[0].UserDetail)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LeaveRequests[0].LeaveType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LeaveRequests[0].StartDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LeaveRequests[0].EndDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LeaveRequests[0].Reason)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LeaveRequests[0].Days)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LeaveRequests[0].UploadDocument)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.LeaveRequests[0].LeaveStatus)
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.LeaveRequests)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserDetail.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LeaveType.LeaveTypeName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Reason)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Days)
                    </td>
                    <td>
                        @if (item.UploadDocument != null)
                        {
                            <button type="button" onclick="viewDocument('@item.Id')"><i class="fa-solid fa-file"></i></button>
                        }
                        else
                        {
                            <span>None</span>
                        }
                    </td>

                    <td>
                        @{
                            string statusColorClass = "";
                            switch (item.LeaveStatus.LeaveStatusName)
                            {
                                case "Approved":
                                    statusColorClass = "status-approved";
                                    break;
                                case "Pending":
                                    statusColorClass = "status-pending";
                                    break;
                                case "Rejected":
                                    statusColorClass = "status-rejected";
                                    break;
                                default:
                                    statusColorClass = "";
                                    break;
                            }
                        }
                        <span class="@statusColorClass">@Html.DisplayFor(modelItem => item.LeaveStatus.LeaveStatusName)</span>
                    </td>

                    <td>
                        <form method="post">
                            <input type="hidden" name="RequestId" value="@item.Id" />
                            <button type="submit" name="Action" value="Approve" class="btn btn-success">
                                <i class="fa-solid fa-check"></i>
                            </button>
                            <button type="submit" name="Action" value="Reject" class="btn btn-danger">
                                <i class="fa-solid fa-xmark"></i>
                            </button>
                        </form>

                    </td>

                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No leave request</p>
}
