@page
@model SBHS.Pages.RequestHistoryModel
@{
}


<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-Avb2QiuDEEvB4bZJYdft2mNjVShBftLdPG8FJ0V7irTLQ8Uo0qcPxh4Plq7G5tGm0rU+1SPhVotteLpBERwTkw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<!-- Plugins css -->
<link href="~/assets/libs/flatpickr/flatpickr.min.css" rel="stylesheet" type="text/css" />
<link href="~/assets/libs/selectize/css/selectize.bootstrap3.css" rel="stylesheet" type="text/css" />

<!-- Theme Config Js -->
<script src="~/assets/js/head.js"></script>

<!-- Bootstrap css -->
<link href="~/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" id="app-style" />

<!-- App css --> 
<link href="~/assets/css/app.min.css" rel="stylesheet" type="text/css" />

<!-- Icons css -->
<link href="~/assets/css/icons.min.css" rel="stylesheet" type="text/css" />


<style>
    h2{
        text-align:center;
        margin-top:20px;
    }

    .card-content {
        padding: 20px;
        background-color:#fff;
    }


    .status-approved {
        background-color: green;
        color: white;
        border-radius: 30px;
        padding: 3px;
    }

    .status-rejected {
        background-color: red;
        color: white;
        border-radius: 30px;
        padding: 3px;
    }

    .tabs {
        display: flex;
        justify-content: center; /* Center the tabs horizontally */
        margin-bottom: 20px; /* Add margin at the bottom for spacing */
    }

    .tablink {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
    }

    .tablink:hover {
        background-color: #ddd;
    }

    .active {
        background-color: #ccc;
    }

    .subtitle{
        padding:10px;
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        border: 1px solid #ddd;
    }

</style>

<h2>Requests History</h2>
<hr/>


<div class="tabs">
    <button class="tablink" onclick="openTab(event, 'leaveRequests')" id="defaultOpen">Leave Requests</button>
    <button class="tablink" onclick="openTab(event, 'oncallRequests')">Oncall Requests</button>
</div>


<div id="leaveRequests" class="card-content">
        <h3 class="subtitle">Leave Requests</h3>
        <div class="table-responsive">
            <div style="overflow-x:auto">
                <table class="table table-centered table-nowrap table-striped" id="products-datatable">
                <thead>
                    <tr>
                        <th>Employee</th>
                        <th>Leave Type</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Reason</th>
                        <th>Status</th>
                        <th>Approved/Rejected Date</th>
                        <th>Approved/Rejected By</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var leaveRequest in Model.AllLeaveRequests)
                    {
                        <tr>
                            <td>@leaveRequest.UserDetail.FullName</td>
                            <td>@leaveRequest.LeaveType.LeaveTypeName</td>
                            <td>@leaveRequest.StartDate?.ToShortDateString()</td>
                            <td>@leaveRequest.EndDate?.ToShortDateString()</td>
                            <td>@leaveRequest.Reason</td>
                            <td>
                                <span class="status-@(leaveRequest.LeaveStatus.LeaveStatusName.ToLower())">
                                    @leaveRequest.LeaveStatus.LeaveStatusName
                                </span>
                            </td>
                            <td>
                                @if (leaveRequest.LeaveStatusId == 1)
                                {
                                    @leaveRequest.DateApproved?.ToShortDateString()
                                }
                                else if (leaveRequest.LeaveStatusId == 3)
                                {
                                    @leaveRequest.DateRejected?.ToShortDateString()
                                }
                            </td>
                            <td>
                                @if (leaveRequest.LeaveStatusId == 1)
                                {
                                    @leaveRequest.ApprovedByUserDetailId
                                }
                                else if (leaveRequest.LeaveStatusId == 3)
                                {
                                    @leaveRequest.RejectedByUserDetailId
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            </div>
        </div>
</div>

<div id="oncallRequests" class="card-content">
        <h3 class="subtitle">Oncall Requests</h3>

        <div class="table-responsive">
            <div style="overflow-x:auto">
                <table class="table table-centered table-nowrap table-striped" id="products-datatable">
                <thead>
                    <tr>
                        <th>Employee</th>
                        <th>Date</th>
                        <th>Status</th>
                        <th>Approved/Rejected Date</th>
                        <th>Approved/Rejected By</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var oncallRequest in Model.AllOncallRequests)
                    {
                        <tr>
                            <td>@oncallRequest.UserDetail.FullName</td>
                            <td>@oncallRequest.DateTimeOnCall?.ToShortDateString()</td>
                            <td>
                                <span class="status-@(oncallRequest.LeaveStatus.LeaveStatusName.ToLower())">
                                    @oncallRequest.LeaveStatus.LeaveStatusName
                                </span>
                            </td>
                            <td>
                                @if (oncallRequest.LeaveStatusId == 1)
                                {
                                    @oncallRequest.DateApproved?.ToShortDateString()
                                }
                                else if (oncallRequest.LeaveStatusId == 3)
                                {
                                    @oncallRequest.DateRejected?.ToShortDateString()
                                }
                            </td>
                            <td>
                                @if (oncallRequest.LeaveStatusId == 1)
                                {
                                    @oncallRequest.ApprovedByUserDetailId
                                }
                                else if (oncallRequest.LeaveStatusId == 3)
                                {
                                    @oncallRequest.RejectedByUserDetailId
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            </div>
        </div>
 </div>





<script>
    // Function to open a specific tab
    function openTab(evt, tabName) {
        var i, tabcontent, tablinks;

        // Hide all tab contents
        tabcontent = document.getElementsByClassName("card-content");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Remove 'active' class from all tab links
        tablinks = document.getElementsByClassName("tablink");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].classList.remove("active");
        }

        // Show the specific tab content
        document.getElementById(tabName).style.display = "block";

        // Add 'active' class to the clicked tab link
        evt.currentTarget.classList.add("active");
    }

    // Function to set the default active tab
    function setDefaultTab() {
        // Get the default tab name from the URL or set a default value
        var defaultTab = window.location.hash.substr(1) || 'leaveRequests';

        // Find and click the tab link with the default tab name
        var tabLink = document.querySelector('.tablink[data-tab="' + defaultTab + '"]');
        if (tabLink) {
            tabLink.click();
        } else {
            // If the default tab is not found, click the first tab
            document.querySelector('.tablink').click();
        }
    }

    // Call the setDefaultTab function when the page loads
    window.onload = setDefaultTab;
</script>