@page
@model SBHS.Pages.user.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>UserDetails</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserDetails.AspNetUserId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserDetails.AspNetUserId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserDetails.Department)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserDetails.Department.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserDetails.WorkTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserDetails.WorkTitle.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.UserDetails?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
