@page
@model SBHS.Pages.user.EmployIndexModel

@{
    ViewData["Title"] = "Index";
}


<style>
    h2 {
        text-align: center;
        margin-top: 30px;
    }

    .table, td, th {
        border: 1px solid black;
    }

    .table {
        background-color: #fff;
        padding: 20px;
        border-collapse: collapse;
        position: center;
    }

    td {
        border-collapse: collapse;
        padding: 0.65em 1em;
    }

    th {
        text-align: center;
    }
</style>


<h2>Employees</h2>
<hr/>
<p>
    <a asp-page="EmployCreate" class="create-button"><i class="fa fa-plus icon-button" aria-hidden="true"></i>New Employee</a>

    <!-- Enhanced Export to PDF Button -->
    @* <form method="post" asp-page-handler="ExportToPdf" class="d-inline">
    <button type="submit" class="btn btn-info ml-2">Export to PDF <i class="fas fa-file-pdf"></i></button>
    </form> *@
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserDetails[0].AspNetUserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserDetails[0].Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserDetails[0].WorkTitle)
            </th>
            <th>
                Action
            </th>

        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.UserDetails) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department.DepartmentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkTitle.WorkTitleName)
            </td>
            <td width="20%">
                <a asp-page="./EmployEdit" asp-route-id="@item.Id" class="btn btn-primary custom-btn">
                    <i class="fas fa-edit"></i> Edit
                </a>
                <a asp-page="./EmployDelete" asp-route-id="@item.Id" class="btn btn-danger custom-btn">
                    <i class="fas fa-trash"></i> Delete
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
