@page
@model SBHS.Pages.user.EmployDeleteModel

@{
    ViewData["Title"] = "Delete";
}

<style>
    dt {
        font-size: 16px;
    }

    .box {
        margin-left: 10px;
    }

</style>

<h2>Delete</h2>
<h3>Are you sure you want to delete this?</h3>
<hr />
<div>
    
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserDetails.AspNetUserId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserDetails.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserDetails.Department)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserDetails.Department.DepartmentName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserDetails.WorkTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserDetails.WorkTitle.WorkTitleName)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="UserDetails.Id" />
        <input type="submit" value="Delete" class="btn btn-danger custom-btn" />
        <a asp-page="./EmployIndex" class="btn btn-secondary" style="margin-left:10px;">Back to List</a>
    </form>
</div>
